ul {
    list-style-type: none;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

a {
    color: black;
}

.menu-item > a {
    padding: 10px 25px 15px 20px;
    text-decoration: none;
    color: black;
}

.menu-item > a:hover {
    color: #1DA1F2;
    background-color: rgba(29, 161, 242, 0.1);
    text-decoration:none; 
    cursor:pointer; 
    border-radius: 30px;
}

.menu {
    font-size: 20px;
    font-weight: bolder;
    line-height: 3rem;
}

.menu-item.logo > a{
    padding: 10px 15px 15px 10px;
}

.button {
    background-color: #1DA1F2;
    color: white;
    padding: 2px 15px;
    border-radius: 30px;
    font-size: 16px;
}

.button:hover {
    background-color: #1c8bcf;
    color: white;
    cursor: pointer;
}

.icons {
    width: 28px;
}

.searchbar {
    padding: 5px;
    border: 1px solid #e5edf1;
    background-color: #e5edf1;
    text-align: center;
    border-radius: 25px;
    color: rgb(61, 61, 63);
    font-weight: initial;
    font-size: 16px;
}

.tweet-body > a {
    text-decoration: none;
    color: #1a2125;
    display: block;
    padding: 20px;
    text-align: justify;
}
.tweet-body:hover {
    text-decoration: none;
    color: #1a2125;
    background-color: rgb(226, 233, 240);
}

.buttons {
    width: 100%;
    font-size: 17px;
    cursor: pointer;
    border-bottom: 2px solid #1DA1F2;
    padding: 12px;
}

.buttons:hover {
    background-color: #eaeff1;
    text-decoration: none;
}

.buttons.active {
    background-color: #eaeff1;
}

.notification {
    cursor: pointer;
}

.list-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.list-card, .list-card:hover{
    cursor: pointer;
    color: #1a2125;
    text-decoration: none;
}

.list-cover-image img {
    width: 100%; 
    height:250px; 
    object-fit: cover;
}

#buttons a {
    text-decoration: none;
    color: white;
}

.chat-box-auth {
    background-color: #1DA1F2;
    color: white;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    margin-right: 5px;
    margin-top: 5px;
}

.chat-box {
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 20px;
    max-width: 80%;
    margin-left: 5px;
    margin-top: 5px;
}